div#memory_board{
    flex:1 1 auto;
}
div#memory_board > div{
    background:url(Paper_Mario_Cards.png) no-repeat center;
    background-color:royalblue;
    background-size:70px;
    border:#000 1px solid;
    width:70px;
    height:120px;
    float:left;
    margin:10px;
    padding:20px;
    font-size:64px;
    cursor:pointer;
    text-align:center;
}
