body{
    background-color:deepskyblue;
}

h1 {
    text-align: center;
    font-family: Cooper;
    font-size: large;
    color: darkred;
}
h3 {
    text-align: center;
    font-family: Cooper;
    font-size: medium;
    color: darkslateblue;
}
p{
    text-align: center;
    font-family: Cooper;
}

div#memory_board {
    background: url(Mario_bg.png) no-repeat center;
    border: #000 1px solid;
    margin: auto;
    width: 320px;
    height: 415px;
    position: center;
}

.flip3d {
}
    .flip3d > .front {
        background: url(Paper_Mario_Cards.png) no-repeat center;
        background-color: royalblue;
        background-size: 50px;
        border: #000 1px solid;
        min-width: 52px;
        min-height: 75px;
        float: left;
        margin: 3px;
        padding: 10px;
        font-size: 50px;
        cursor: pointer;
        text-align: center;
        border-radius: 7px;
    }

    .flip3d > .back {
        background: no-repeat center;
        background-color: aquamarine;
        background-size: 50px;
        border: #000 1px solid;
        min-width: 52px;
        min-height: 75px;
        float: left;
        margin: 3px;
        padding: 10px;
        font-size: 30px;
        line-height: 75px;
        cursor: pointer;
        text-align: center;
        border-radius: 7px;
        opacity:0.85;
    }